{% load i18n %}

{% block subject %}
{% blocktrans %}  CDO RENTS Account activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{#{% blocktrans %}iactivate sa imng email madi .{% endblocktrans %}#}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}CDO Rents team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}

<p>{% trans "Please go to the following page to activate account:" %} </p>
    <p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="background-color: #1f2937;  width:110px;border-radius: 10px;margin-top:20px;color:white;font-size:19px; padding:15px 20px 15px 20px;text-decoration: none;"  href="">Proceed to Activation</a>
</p>
{% endblock html_body %}